body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

button {
    background-color: #3882F6;
    width: 100px;
    padding: 5px;
    border: 1px solid #E5E7EB;
    border-radius: 5px;
    color: #E5E7EB;
    font-weight: bold;
}

/* header */

.header {
    background-color: #1F2937;
    height: 70px;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    color: #F9FAF8;
}

.header ul {
    list-style: none;
    display: flex;
    gap: 15px;
}

.header a {
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
}

#contact {
    padding: 4px 5px;
    border: 2px solid #000;
    border-radius: 5px;
    background-color: #F9FAF8;
    color: #1F2937;
}

/* containers for main content section */

.main-container {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-between;
}

.content {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;

}

/* top section */

.top-section {
    background-color: #1F2937;
    padding-bottom: 80px;
}

.top-content {
    display: flex;
    justify-content: space-between;
    flex: 1;
    gap: 30px;
    align-items: flex-end;
    padding-left: 10px;
    padding-right: 10px;
}

.top-copy {
    display: flex;
    flex-direction: column;
    max-width: 400px;
}

.top-copy h1 {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
    margin-bottom: 8px;

}

.top-copy p {
    font-size: 18px;
    color: #E5E7EB;
}

.top-copy button {
    border: 1px solid #3882F6;
}

.top-image {
    max-width: 600px;
    padding-right: 2px;
}

.top-image img {
    max-width: 100%;
    max-height: 100%;
}

@media (max-width: 900px) { /* adjust CSS for top section when smaller screen size  */
    .top-section {
        padding-bottom: 0;
    }
    
    .top-content {
        justify-content: center;
        text-align: center;
        flex-wrap: wrap;
        padding: 0;
    }

    .top-copy {
        align-items: center;
    }

    .top-copy h1 {
        font-size: 38px;
        margin-bottom: 0;
    }

    .top-image {
        max-width: 100%;
        padding: 0;
        margin-bottom: -10px;
    }
}

/* information section */

.info-section {
    text-align: center;
    margin-bottom: 50px;
    margin-top: 20px;
}

.info-section h2 {
    font-size: 24px;
    font-weight: bolder;
    color: #1F2937;
}

.info {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding-left: 10px;
    padding-right: 10px;
    flex-shrink: 1;
}

.info-areas {
    width: 150px;
}

.info-areas img {
    max-width: 100%;
    border-radius: 20px;
    border: 2px solid #3882F6;
}

.info-text {
    margin-top: 10px;
    font-size: 12px;
    color: grey;
}

@media (max-width: 700px) { /* adjust CSS for info section when smaller screen size  */
    .info-areas {
        width: 215px;
    }
    
    .info {
        flex-wrap: wrap;
    }
}

/* inspirational quote section */

.inspiration {
    background-color: #E5E7EB;
    padding-top: 60px;
    padding-bottom: 60px;
}

.inspiration-content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}


.quote {
    display: flex;
    flex-direction: column;
    max-width: 80%;
}


.inspiration h3 {
    font-style: italic;
    font-size: 36px;
    font-weight: 100;
    color: #1F2937;
    margin-bottom: 0px;
}

.inspiration p {
    font-weight: bold;
    text-align: right;
    color: #1F2937;
}

/* call to action new */

.box {
    background-color: #3882F6;
    display: flex;
    justify-content: space-between;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 20px;
    padding-bottom: 20px;
    align-items: center;
    gap: 40px;
    margin-top: 40px;
    margin-bottom: 40px;
}

.action-text {
    display: flex;
    flex-direction: column;
}

.action-text h4 {
    color: #F9FAF8;
    margin-bottom: 5px;
}

.action-text p {
    color: #E5E7EB;
    margin-top: 0;
    font-size: 14px;
}

@media (max-width: 1000px) { /* adjust CSS for CTA section when smaller screen size  */
    .box {
        margin-left: 10px;
        margin-right: 10px;
    }
}

/* footer */

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1F2937;
    color: #FFF;
    font-size: 12px;
    height: 50px;
}


